.categories{
    margin-bottom: 20px;
}

.rating{
    margin-top:5px;
    margin-bottom: 20px;
}

.categories{
    margin-bottom: 20px;
}

.rating{
    margin-top:5px;
    margin-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

.product-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    grid-gap: 1rem;
}

.seller-product-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 1rem;
}

.product {
    width: 275px;
    height: 410px;
    margin: 10px 0;
    background: white;
    padding: 10px;
    transition: all ease 0.5s;
    border: 3px solid #e4e4e4;
}


.wishlist-product {
    width: 275px;
    height: 410px;
    margin: 10px 0;
    background: white;
    padding: 10px;
    box-shadow: 4px 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.seller-product {
    width: 275px;
    height: 428px;
    margin: 10px 0;
    background: #f7f7f9;
    padding: 10px;
    box-shadow: 4px 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.product a:hover {
    color: white;
}

.product img {
    padding: 0 !important;
    width: 250px;
    height: 250px
}

.product:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid #fff;
}

.seller-product a .seller-product-img img {
    height: 230px !important;
    width: 230px !important;
    margin: auto;
}

.product .product-heading {
    height: 39px;
}

.wishlist-product a:hover {
    color: white;
}

.wishlist-product .product-img img {
    padding: 0 !important;
    height: 235px;
} 

.wishlist-product .product-heading {
    height: 39px;
}

.rating-review {
    display: flex;
    justify-content: space-between;

}

.rating {
    background: #1aab2a;
    padding: 2px;
    border-radius: 5px;
    color: white;
}

.rating-review p {
    margin: 0 !important;
}

.price {
    /* margin-top: 6px; */
}

.qty {
    color: #acacac;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.product .price-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5px; */
}

.wishlist-product .price-qty {
    display: flex;
    justify-content: space-between;
}

.wishlist-product .price-qty .qty {
    margin-top: 8px;
}

.seller-product .product-heading {
    height: 39px;
}

.seller-product .delete-edit {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.seller-product .delete-edit .delete {
    padding: 0 30px;
}

.seller-product .delete-edit .delete svg {
    margin-bottom: 4px;
    color: red;
}

.seller-product .delete-edit .delete:hover {
    color: red;
}


.seller-product .delete-edit .edit a {
    color: #4aab2a !important;
    padding: 0 30px;
}

.seller-product .delete-edit .edit a:hover {
    color: #4aab2a;
}

@media only screen and (max-width:1458px) {

    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        grid-gap: 1rem;
    }

    .product {
        margin: 20px;
        margin-bottom: 20px;
    }

    .wishlist-product {
        margin: 20px;
    }
}

@media only screen and (max-width:1285px) {
    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        grid-gap: 0.5rem;
    }

    .product {
        margin: 0 50px;
        margin-bottom: 20px;
    }

    .wishlist-product {
        margin: 0 50px;
    }
}

@media only screen and (max-width:1076px) {
    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 0.5rem;
    }

    .product {
        margin: 0px 20px;
        margin-bottom: 20px;
    }

    .wishlist-product {
        margin: 0px 20px;
    }
}

@media only screen and (max-width:941px) {
    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 0.2rem;
        margin: 0 50px;
    }

    .product {
        margin: 0 30px;
        margin-bottom: 20px;
    }

    .wishlist-product {
        margin: 0 30px;
    }
}

@media only screen and (max-width:634px) {
    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-gap: 0.2rem;
        margin: 0 50px;
    }

    .product {
        margin: 0 80px;
        width: 380px;
        margin-bottom: 20px;

    }

    .wishlist-product {
        margin: 0 80px;
        width: 400px;
    }
}

/* seller product card */

@media only screen and (max-width:1413px) {

    .seller-product-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 1rem;
    }

    .product {
        margin: 20px;
        margin-bottom: 20px;
    }

    .wishlist-product {
        margin: 20px;
    }
}

@media only screen and (max-width:1285px) {
    .seller-product-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 0.5rem;
    }

    .product {
        margin: 0 50px;
        margin-bottom: 20px;
    }

    .wishlist-product {
        margin: 0 50px;
    }
}

@media only screen and (max-width:1076px) {
    .seller-product-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 0.5rem;
    }

    .product {
        margin: 0px 20px;
        margin-bottom: 20px;
    }

    .wishlist-product {
        margin: 0px 20px;
    }
}

@media only screen and (max-width:941px) {
    .seller-product-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 0.2rem;
        margin: 0 50px;
    }

    .product {
        margin: 0 30px;
        margin-bottom: 20px;
    }

    .wishlist-product {
        margin: 0 30px;
    }
}

@media only screen and (max-width:634px) {
    .seller-product-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 0.2rem;
        margin: 0 50px;
    }

    .product {
        margin: 0 80px;
        width: 380px;
        margin-bottom: 20px;

    }

    .wishlist-product {
        margin: 0 80px;
        width: 400px;
    }
}

@media only screen and (max-width:580px) {
    .seller-product-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-gap: 0.2rem;
        margin: 0 50px;
    }

    .seller-product {
        margin: 0 80px;
        width: 380px;
        margin-bottom: 20px;

    }

    .wishlist-product {
        margin: 0 80px;
        width: 400px;
    }
}


.poster {
    height: 350px;
}